@use "col";

#basket {
    display: flex;
    flex-direction: column;
    gap: 24px;


    align-items: center;
    color: black;

    .basketItemCard {
        display: flex;
        gap: 16px;
        width: 100%;
        margin: auto 1%;
        border: 2px solid col.$color-primary;
        align-items: center;

        img {
            max-width: 150px;
            max-height: 150px;
            height: auto;
        }

        .basketDescriptionSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            gap:8px;
            padding: 8px 0;
            margin-right: 16px;

            .basketQuantity {
                display: flex;
                text-align: center;
                align-items: center;
                width: 100%;
                gap: 32px;
            }
        }
    }

    #basketPaymentButton {
        width: fit-content;

    }


}

#noItemInBasket {
    color: rgba($color: #000000, $alpha: 0.75);
    font-size: 20px;
}