@font-face {
    font-family: 'Luciole';
    src: url(../fonts/Luciole-Regular.woff) format('woff');

}

@font-face {
    font-family: 'LucioleBold';
    src: url(../fonts/Luciole-Bold.woff) format('woff');

}

$title: 'Luciole', 'sans-serif';
$titleBold: 'LucioleBold', 'sans-serif';