#connexionMenu {

    flex-direction: column;
    gap: 16px;

    #welcomeMenu {
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        gap: 32px;

        hr{
            width: 75%;
        }

        .menuLoginForm {
            color: rgba($color: #000000, $alpha: 0.75);
            font-size: 20px;
        }
    }

    #loginForm {
        display: flex;
        flex-direction: column;
        gap: 16px;

        #loginInputs {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

    }

    #accountCreationLink {
        color: rgba($color: #000000, $alpha: 0.75);
        font-size: 20px;
        text-align: center;
    }

}