@use "col";
@use "fonts";

@mixin captionStyle {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: grey;
}

@mixin arrows{
    font-size: 48px;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;

    #sliderWrapper {
        position: relative;
        width: 100%;

        i{
            @include arrows;
        }

        #caption {
            position: absolute;
            display: flex;
            bottom: 0;
            width: 100%;
            z-index: 2;
            background-color: rgba($color: grey, $alpha: 0.5);
            padding: 32px;
            

            #captionText {
                text-align: center;
                width: 100%;
                color: col.$color-secondary;
                font-size: 32px;
            }
        }

        #sliderImages {
            display: flex;
            width: 100%;

            .sliderImage {
                min-width: 100%;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        #leftButton,
        #rightButton {

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
        }

        #leftButton {
            left: 16px;
        }

        #rightButton {
            right: 16px;
        }
    }
}